body {
  font-family: $bodyfont, Helvetica, sans-serif;
  line-height: $lh;
  color: $brandcolor01;
  background-color: white;
}
h1, h2 {
  font-size: 22px;
}
a {
  @include trans-ease;
}
a:link, a:visited {
  color: $brandcolor01;
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
  color: lighten($brandcolor01, 20%);
}
img {
  max-width: 100%;
}
h1 {
  margin-top: 75px;
   @include mq(narrow) {
     margin-top: 50px;
   }
}
h2 {
  margin-bottom: 80px;
  @include mq(narrow) {
    margin-bottom: 40px;
  }
}
abbr {
  text-decoration: none;
  border-bottom: 1px solid lighten($brandcolor01,70%);
  cursor: pointer;
}
.site-footer {
  padding: 0 0 50px;
  clear: both;
  text-align: center;
}
.site-footer span {
  @include mq(narrow) {
    display: block;
  }
}

.active:link, .active:visited {
  text-decoration: underline;
}
